<h1>About us</h1>

<div class="slogan">
Quality Education: A Community Commitment
</div>

<div class="about">
  <p>Primary School Report System is an easy way for communication between parents and teachers.</br>Our modern resource will help parents to obtain information about their children on time and in convenient form. Furthermore, on the side of teachers it will be possible to set up effective record-keeping system.</br>All this facilitates the development of children teaching process and gives attention to each and every achievement of the pupil.</br></br>
  E-mail: sa@sa.com </br> Contact phone: +1-234-567-8901
  </p>
</div>
