<md-content class="md-whiteframe-10dp" layout-padding>
    <div layout="column" md-colors="{color: 'red-A200', 'border-color': 'primary-600'}">
        <p><strong>The system for contolling the achievements and activity of the primary school pupils.</strong></p>
        <p>The main functional opportunities are as follows:</p>
        <ul>
            <li>The registration of the school and giving the admin the permission to manage the database of the school, levels, groups, teachers, parents, and students.</li>
            <li>Writing down the School/Achievements Journal (the journal of activity ) of each student and the class in general.</li>
            <li>The parents have the opportunity to view the reports on the activity of their children.</li>
            <li>Making the bidirectional association between the parents and the teachers with the help of the online chat.</li>
        </ul>
    </div>
</md-content>
