<div class="item" layout="row" layout-align="space-around">
  <md-input-container>
  <label>Sort by:</label>
    <md-select ng-model="$ctrl.orderProp">
      <md-option value="Default">Default</md-option>
      <md-option value="name">Alphabetical</md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Search:</label>
    <input ng-model="$ctrl.query">
  </md-input-container>
</div>

<h1> Schools </h1>
<md-button ui-sref="schoolCreate" class="md-raised md-primary stylecolor">Create new school</md-button>
<div class="item">
    <md-card ng-repeat="school in schools | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="items-list items-list-small">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                    <a ui-sref="schoolDetail({ schoolId: school.id })"><p class="content content-small">{{ school.name }}</p></a>
                </span>
                <span class="md-subhead"><strong>ID:</strong> {{ school.id }}</span>
                <span class="md-subhead"><strong>E-mail:</strong> {{ school.email }}</span>
                <span class="md-subhead"><strong>Address:</strong> {{ school.address }}</span>
                <span class="md-subhead"><strong>Phone:</strong> {{ school.contact_phone }}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
