<div class="item">
    <h1>Edit school info</h1>
    <md-button class="md-primary" ui-sref="schools">Back to Schools</md-button>
    <form ng-submit="updateSchool()">
        <md-input-container class="md-block">
        <h3>Title:</h3>
            <input ng-model ="schoolDetail.school.name" type="text" name="name" id="school_input">
        </md-input-container>

        <md-input-container class="md-block">
        <h3>Email:</h3>
            <input ng-model ="schoolDetail.school.email" type="text" name="email" id="school_input">
        </md-input-container>

        <md-input-container class="md-block">
        <h3>Address:</h3>
            <input ng-model ="schoolDetail.school.address" type="text" name="address" id="school_input">
        </md-input-container>

        <md-input-container class="md-block">
        <h3>Contact phone:</h3>
            <input ng-model ="schoolDetail.school.contact_phone" type="text" name="school_input" id="school_input">
        </md-input-container>
        <md-button type="submit" value="Save changes" id="school_save">Update</md-button>
    </form>
</div>
