<h1>Edit the group</h1>
<div class="item item-small">
    <md-button class="md-primary" ui-sref="groups">Back to groups</md-button>
    <form ng-submit="updateGroup()">
        <md-input-container class="md-block" type="text" name="title">
            <h3>Name:</h3>
            <input ng-model="groupDetail.group.name">
        </md-input-container>
        <md-input-container class="md-block" type="nubmer" name="level_id" step="1">
            <h3>Level of:</h3>
            <input ng-model="groupDetail.group.level_id">
        </md-input-container>
        <md-button type="submit" value="Update">Update</md-button>
    </form>
</div>