<div class="item">
    <h1>Create Group</h1>
    <md-button class="md-primary" ui-sref="groups">Back to groups</md-button>
    <form ng-submit="addGroup()" role="form">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Group name</label>
            <input ng-model="group.name">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Level of</label>
            <input ng-model="group.level_id" type="number" name="level_id" step="1">
        </md-input-container>

        <md-button type="submit" value="Save">Submit</md-button>
    </form>
</div>

