<h1>Show page</h1>
<div class="item-list">
    <md-button class="md-primary" ui-sref="groups">Back to groups</md-button>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{item.group.name}}</span>
                <span class="md-subhead">Id of level: {{item.group.id}}</span>
                <span class="md-subhead">School id of level: {{item.group.school_id}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
