.attendance {
  .wrapper-a-date {
    width: 100%;
    text-align: center;
  }

  .a-date {
    margin: 0 auto;
  }

  p {
    text-align: left;
  }

  .a-list-container {
    padding: 0;
  }

  .att-list {
    margin: 0;

  }

  .att-full {
    width: 100%;
  }

  .presence-text {
    line-height: 88px;
    color: #616161;
  }
  .presence {
    margin-top: 50px;
    transform: scale(1.1, 1.1);
  }
}