.attendance {
  .wrapper-a-date {
    width: 100%;
    text-align: center;
  }

  .a-date {
    margin: 0 auto;
  }

  p {
    text-align: left;
  }

  .att-list {
    min-height: 5px;
    max-height: 5px;
    height: 5px;
  }

  .presence {

  }
}