.dailyreport {
  .l-card-s {
    margin-left: 5%;
    margin-right: 2%;
  }

  .l-card-a {
    margin-right: 5%;
    padding-left: 3%;
  }

  .wrapper-a-date {
    text-align: center;
  }

  .red {
    color: red;
  }

  h2 {
    color: #00897B;
  }

  .dail-times {
    margin-top: 0;
  }

  .red-material {
    color: #FF5722;
  }

  #send {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80px;
  }
}
