
.group-list {
  width: 93%;
  margin: 30px auto;
}


.group-list {
  .height {
  }

  .button-students {
    font-size: 8px;
    line-height: 8px;
    max-width : 1rem !important;
    max-height: 1rem !important;
  }

  .button-students p {
    font-size: 10px;
    line-height: 10px;
  }

  .students {
    margin-left: 2%;
    margin-top: 50px;
  }

  .student-item {
    height: 30px;
    line-height: 30px;
    width: 80%;
    margin: 0 auto;
  }
}

