.items-list {
  margin: 20px;
  display: inline-block;
  background-color: #e6fff3;
}

.items-list-album {
  width: 500px;
}

.items-list a {
  text-decoration: none;
}

.border-image {
  border-radius: 10%;
}

.items-list-button {
  margin-left: auto;
}

.item {
  text-align: center;
  width: 90%;
  word-wrap: break-word;
  margin: 0 auto;
}

.item-small {
  width: 25%;
}

.item-medium {
  width: 45%;
}

.item-large {
  width: 100%;
  vertical-align: middle;
}

.item-login {
  text-align: left;
  width: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.content {
  max-height: 30px;
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-small {
  width: 225px;
}

.content-image {
  height: 50%;
}

.count {
  text-align: right;
  margin: 20px;
}

.height {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
}
.md-block {
  margin: 0px;
}

.padd {
  padding: 5px 15px;
}
