.items-list {
  width: 500px;
  margin: 20px;
  display: inline-block;
  background-color: #e6fff3;
}

.items-list-small {
  width: 250px;
  height: 350px;
}

.items-list a {
  text-decoration: none;
}

.items-list-button {
  margin-left: auto;
}

.item {
  text-align: center;
  width: 50%;
  word-wrap: break-word;
  margin: 0 auto;
}

.item-small {
  width: 25%;
}

.item-login {
  text-align: left;
  width: 25%;
  margin-top: 5%;
  margin-bottom: 5%;

}

.content {
  max-height: 30px;
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-small {
  width: 225px;
}

.content-image {
  height: 50%;
}

.count {
  text-align: right;
  margin: 20px;
}