.level-list {
  width: 500px;
  margin-left: 30px;
  margin-top: 20px;
}

.level-list-button {
  margin-left: 40px;
}

.level-detail {

}

.levels-create {
  width: 500px;
  margin-left: 30px;
}

.level-edit {
  width: 500px;
  margin-left: 30px;
}