/*main*/

/* Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.

//@import 'style';*/

/*@font-face {
  font-family: custom;
  src: url('./HelveticaNeueCyr-Roman.otf');
}*/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.main-nav {
  width: 100%;
  height: 80px;
  background-color: #E57373;
}

.wrapper-primary-image {
  position: absolute;
  width: 100%;
  text-align: center;
}

.primary-image {
  margin-top: 8px;
  height: 60px;
}

.main-nav-title {
  float: right;
  margin: 13px;
}

.main-nav-title a {
  color: white;
}

.main-nav-button {
  margin-top: 10px;
  margin-left: 10px;
}

.over {
  position: fixed;
}

