@import "./navigation.scss";
@import "./items.scss";
@import "./persons.scss";
@import "./style.scss";
@import "./dailyreports.scss";

.myDay h1 {
  color: cornflowerblue;
}

.days {
  color: #c51162;
}

.list-div {
  padding: 2em;
  max-width: 100%;
  height: auto;
  word-wrap: break-word ;
  white-space: pre-wrap;
  text-align: center;
  background-color: #b3e5fc;
  border-radius: 10px;
  margin: 1em;
}

.stud {
  display: inline-block;
  margin: 1.5em;
}

.myDay {
  display: inline-block;
}

.album-list {
  width: 98%;
  margin: auto;
  border-radius: 10px;
  border: 2px solid #c51162;
  margin: 1em;
}

.album-item {
  display: inline-block;
  margin: 2em;
  max-width: 40%;
  min-width: 40%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.1s;
}

.album-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.main {
  .wrapper-a-date {
    width: 100%;
    text-align: center;
  }

  .dailyreport {
    float: right;
    margin-right: 12%;
    margin-bottom: 20px;
  }

  .a-date {
    text-align: center;
    margin: 0 auto;
  }

  p {
    text-align: left;
  }

  .a-list-container {
    padding: 0;
  }

  .att-list {
    margin: 0;
  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }

  ul {
    line-height: 100%;
    li {
      div {
        display: inline-block;
        padding-right: 30px;
        width: 70px;
      }
    }
  }

  .att-full {
    width: 100%;
  }

  .presence-text {
    line-height: 88px;
    color: #616161;
  }
  .presence {
    margin-top: 50px;
    transform: scale(1.1, 1.1);
  }
}

/* Footer */
.footer {
  height: 1000px;
}
