/* Navbar */

@import url('https://fonts.google.com/specimen/Roboto+Slab?selection.family=Roboto');

.wrapper-primary-image {
  position: absolute;
  width: 100%;
  text-align: center;
  .primary-image {
    margin-top: 4px;
    height: 42px;
  }
}

.main-nav {
  width: 100%;
  height: 8%;
  background-color: #00897B;
  .m-title {
    color: white;
    float: right;
    margin-top: 2px;
    margin-right: 5px;
  }
  .m-button {
    font-size: 12px;
  }
  .m-toggle {
    margin-left: 10px;
  }
}


.m-content {
  height: 92%;
}

.m-side {
  height: 100%;
  position: static;
}

.m-side {
  .Admin {
    margin: 0;
    padding: 0;
    width: 100%;

  }
  .main-menu {
    color: #004D40;
    margin: 10px 20px 0 10px;
    font-family: Roboto Helvetica sans-serif;
  }
  .m-divide {
    margin-left: -10px;
    width: 150px;
  }
  button {
    color: #455A64;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
  }
  p {
    width: 100%;
    text-align: center;
  }
}

.over {
  position: fixed;
}
