.person-list {
  width: 93%;
  margin: 30px auto;
}

.person-list {
  .ful {
    overflow: hidden;
  }

  .create-button {
    display: block;
    width: 120px;
    margin: 0 30px 30px 0;
  }

  .l-card {
    margin: 0 auto;
    max-height: 500%;
    min-height: 100%;
  }

  .l-item {
    height: 50px;
    div p {
      margin-left: 10px;
    }
  }

  h3, h4 {
    padding-left: 20px;
    padding-bottom: 15px;
    text-align: left;
  }

  .wrapper-button-persons {
    width: 50px;
    height: 100px;
    margin-top: 10px;
    margin-right: 20px;
  }

  .button-persons {
    display: block;
    min-width: 10px;
    max-width: 60px;
    min-height: 10px;
    max-height: 30px;
    font-size: 8px;
    line-height: 30px;
    margin: 0 auto;
  }

  .button-persons p {
    font-size: 10px;
    line-height: 10px;
  }

  .persons {
    margin-left: 2%;
    margin-top: 50px;
  }

  .person-item {
    height: 30px;
    line-height: 30px;
    width: 80%;
    margin: 0 auto;
  }
}

.person-create {
  width: 400px;
}