h1,h2,h3,h4,h5 {
	text-align: center;
}

h1 {
  text-transform: uppercase;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

button {
  margin-bottom: 0px;
}

.tstClass {
  margin-top: 10px;
}

.borderlist {
	border-width:1px;
	border-radius: 1%;
	border-style: solid;
	border-color: black;
	padding: 20px;
	list-style-type: none;
	margin: 20px auto;
	width: 75%;
	background-color: #FAFAD2;
	font-style: italic;
} 

.borderlist span {
	font-style: normal;
 	font-weight: bold;
  }

.school_name {
	text-align: center;
 	font-weight: bold;
  }

.school_search {
	margin-left: 50px;
}

.school_edit_form {
	border-width:1px;
	border-radius: 1%;
	border-style: solid;
	border-color: black;
	padding: 20px;
	list-style-type: none;
	margin: 20px auto;
	width: 50%;	
	background-color: #FAFAD2;
	font-style: italic;
} 

#school_input {
	margin: 10px auto;
    width: 100%;
   } 

#school_button {
	width: 25%;
}

.border_school {
	border-width:1px;
	border-radius: 1%;
	border-style: solid;
	border-color: black;
	padding: 0px 10px 0px 10px;
	margin: 10px auto;
    width: 95%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .4);
}




.animate-hide {
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

