h1,h2,h3,h4,h5 {
	text-align: center;
}

h1 {
  text-transform: uppercase;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
  margin: 40px auto 20px auto;
}

button {
  margin-bottom: 0px;
}

.tstClass {
  margin-top: 10px;
}

.borderlist {
	border-width:2px;
	border-radius: 10px;
	border-style: solid;
	border-color: rgba(75, 0, 130,.9);
	padding: 20px;
	list-style-type: none;
	margin: 20px auto;
	width: 75%;
	background-color: #FAFAD2;
	font-style: italic;
}

.borderlist span {
	font-style: normal;
 	font-weight: bold;
  }

.school_name {
	text-align: center;
 	font-weight: bold;
}

.school_search {
	margin-left: 50px;
}

.school_edit_form {
	border-width:3px;
	border-radius: 10px;
	border-style: solid;
	border-color: rgba(0, 130, 116, 1);
	padding: 20px;
	list-style-type: none;
	margin: 20px auto 20px auto;
	width: 50%;
	background-color: #FAFAD2;
	font-style: italic;
}

#contactlink {
	text-align: center;
}

#school_input {
	margin: 10px auto;
  width: 100%;
}

#school_button {
	width: 25%;
}

.border_school {
	border-width:2px;
	border-radius: 10px;
	border-style: solid;
	border-color: rgba(75, 0, 130,.9);
	padding: 0px 10px 0px 10px;
	margin: 10px auto;
  width: 95%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, .4);
}

.title {
	text-transform: uppercase;
	font-size: 500%;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 50px 0px 0px 0px;
	margin: 50px auto 10px auto;
	text-shadow: 4px 7px 7px rgba(0,0,0,0.5), 0px -5px 35px rgba(255,255,255,0.5);
}

.full_title {
	text-transform: uppercase;
	font-size: 200%;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	font-weight: bold;
	text-shadow: 2px 3px 3px rgba(0,0,0,0.3), 0px -5px 15px rgba(255,255,255,0.5);
}

.buttonmy {
	text-align:center;
	margin: 20px auto 30px auto;
}

.welcome_text {
  text-align:center;
  font-size: 175%;
  padding: 5px auto 5px auto;
  margin: 10px auto 40px auto;
  width: 75%;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, .4);
  line-height: 1.6;
}

.button2 {
  background-color: rgba(0, 130, 116, 1);
  border: 3px solid rgba(0, 130, 116, 1);
  color: white;
  width: 15%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 30px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 0px 0px rgba(0,0,0,.7), 0px 0px 0px rgba(0,0,0,.7);
  -webkit-transition-duration: 0.6s; /* Safari */
  transition-duration: 0.6s;
}

.button2:hover {
  background-color: white;
  color: black;
  border: 3px solid rgba(0, 130, 116, 1);
}

.about {
	text-align:center;
	font-size: 130%;
	line-height: 1.8;
	text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, .3);
	padding: 5px auto 5px auto;
	margin: 10px auto 40px auto;
    width: 75%;
}
.about span {
	font-weight: bold;
}
.slogan {
	text-align:center;
	text-transform: uppercase;
	font-size: 125%;
	font-style: italic;
	margin: 50px auto 40px auto;
}

textarea {
  resize: vertical;
}

.stylecolor {
  background-color: #00897B !important
}

md-card {
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}

body {
  padding: 20px;
}

.jk-carousel {
  height: 100%;
  overflow: hidden;
  position: relative; }
  .jk-carousel .slides-container {
    height: 100%;
    position: relative; }
    .jk-carousel .slides-container .slide .ng-scope img:first-child {
      max-width: 100%;
      max-height: 100%; }
  .jk-carousel .left-arrow-button,
  .jk-carousel .right-arrow-button {
    position: absolute;
    margin: auto !important;
		left: 10;
    top: 0;
    bottom: 0; }
  .jk-carousel .right-arrow-button {
    right: 10;
		left: auto; }
  .jk-carousel .md-icon-button {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0; }
    .jk-carousel .md-icon-button md-icon {
      color: rgba(0, 130, 116, 1);;
      width: 48px;
      height: 48px;
      font-size: 48px;
      cursor: pointer;
      outline: none !important; }
  .jk-carousel .radio-buttons-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%; }
    .jk-carousel .radio-buttons-container md-radio-button {
      margin-right: 5px;
      outline: none; }
      .jk-carousel .radio-buttons-container md-radio-button .md-off {
        border-color: rgba(0, 130, 116, 1); }
