<div class="item item-medium">
  <h1 class="text-uppercase">Admin Edit</h1>
  <md-button class="md-primary" ui-sref="admins">Back to Admins</md-button>
  <form ng-submit="updateAdmin()" role="form">
      <md-input-container class="md-block">
        <img class="border-image" ng-src="{{admin.avatar_url_medium}}">
        <input type='file' ng-model="admin.avatar" base-sixty-four-input accept="image/*" maxsize="1000" placeholder="Admin photo">
      </md-input-container>

      <md-input-container class="md-block">
        <input type="text" pattern="^[a-zA-Zа-яА-Я]{1,20}$" ng-model="admin.first_name" ng-value="admin.first_name" placeholder="First Name">
      </md-input-container>

      <md-input-container class="md-block">
        <input type="text" pattern="^[a-zA-Zа-яА-Я]{1,20}$" ng-model="admin.last_name" ng-value="admin.last_name" placeholder="Last Name">
      </md-input-container>

      <md-input-container class="md-block">
        <input type="email" ng-model="admin.email" ng-value="admin.email"placeholder="E-mail">
      </md-input-container>

      <md-input-container class="md-block">
        <input type="text" ng-model="admin.contact_phone" ng-value="admin.contact_phone" placeholder="Contact phone">
      </md-input-container>

      <md-button type="submit" value="Update">Update</md-button>
  </form>
</div>
