<div class="item item-medium">
    <h1>Parent Create</h1>
    <md-button class="md-primary" ui-sref="parents">Back to Parents</md-button>
    <form ng-submit="addParent()" role="form">
        <md-input-container class="md-block">
          <input type="text" pattern="^[a-zA-Zа-яА-Я]{1,20}$" ng-model="parent.first_name" placeholder="First Name">
        </md-input-container>

        <md-input-container class="md-block">
          <input type="text" pattern="^[a-zA-Zа-яА-Я]{1,20}$" ng-model="parent.last_name" placeholder="Last Name">
        </md-input-container>

        <h3>E-mail:</h3>
        <md-input-container class="md-block">
          <input type="e-mail" ng-model="parent.email" placeholder="asd@asa">
        </md-input-container>

        <h3>Contact Phone:</h3>
        <md-input-container class="md-block">
          <input type="text" ng-model="parent.contact_phone" placeholder="+1234567890">
        </md-input-container>

        <h3>Password:</h3>
        <md-input-container class="md-block">
          <input type="text" ng-model="parent.password">
        </md-input-container>

        <h3>Password confirmation:</h3>
        <md-input-container class="md-block">
          <input type="text" ng-model="parent.password_confirmation">
        </md-input-container>

        <div class="menus" layout="row" layout-align="space-between center">
          <md-input-container class="md-block">
            <label>Student</label>
            <md-select ng-model="parent.student_id" class="md-no-underline">
                <md-option ng-repeat="student in students" ng-value="student.id">
                {{student.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <md-button type="submit" value="Save">Submit</md-button>
    </form>
</div>
