<h1><a ui-sref="students">Click to see the Student List</a></h1>

<h1 class="text-uppercase">Student Edit</h1>

<form class="form-horizontal" role="form" ng-submit="updateStudent()">
<div class="form-group">
  <label for="first_name" class="col-sm-2 control-label">First Name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="studentDetail.student.first_name" class="form-control" id="first_name" value="{{studentDetail.student.first_name}}"/>
  </div>
</div>
<div class="form-group">
  <label for="last_name" class="col-sm-2 control-label">Last Name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="studentDetail.student.last_name" class="form-control" id="last_name" value="{{studentDetail.student.last_name}}"/>
  </div>
</div>
<div class="form-group">
  <label for="age" class="col-sm-2 control-label">Age</label>
  <div class="col-sm-10">
    <input type="number" min="2" max ="10" ng-model="studentDetail.student.age" class="form-control" id="age" value="{{studentDetail.student.age}}"/>
  </div>
</div>
<div class="form-group">
  <label for="school_id" min="1" class="col-sm-2 control-label">School</label>
  <div class="col-sm-10">
    <input type="number" ng-model="studentDetail.student.school_id" class="form-control" id="school_id" value="{{studentDetail.student.school_id}}"/>
  </div>
</div>
<div class="form-group">
  <label for="group_id" min="1" class="col-sm-2 control-label">Group</label>
  <div class="col-sm-10">
    <input type="number" ng-model="studentDetail.student.group_id" class="form-control" id="group_id" value="{{studentDetail.student.group_id}}"/>
  </div>
</div>
<md-checkbox ng-model="isDisabled" aria-label="Health Info:">Health Info:</md-checkbox>
<div ng-show="isDisabled">
  <div class="form-group">
    <label for="health_problem" class="col-sm-2 control-label">Health Problem</label>
    <div class="col-sm-10">
      <input type="text" ng-model="studentDetail.student.health_info.health_problem" class="form-control" id="health_problem" value="{{studentDetail.student.health_info.health_problem}}"/>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <input type="text" ng-model="studentDetail.student.health_info.description" class="form-control" id="description" value="{{studentDetail.student.health_info.description}}"/>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Update"/>
  </div>
</div>
</form>
