<h1> Edit Our Day </h1>
<md-button class="md-primary" ui-sref="ourDayList">Back to OurDayList</md-button>
<md-input-container class="md-block">
    <input type="file" ng-model="ourDayDetail.photos" name="files" multiple
       base-sixty-four-input multiple accept="image/*" maxsize="2000"/>
</md-input-container>

<form ng-submit="updateOurDay()">
  <textarea ng-model="ourDayDetail.our_day.description" id="ourDay" name="ourDay" cols="50" rows="20">
  </textarea>
  <md-button type="submit" value="Update">Update</md-button>
</form>
