<div class="md-inline-form" layout="column" layout-sm="row" layout-align-sm="start start" layout-align="center center" layout-padding="layout-padding">
    <md-content id="SignupContent" class="md-whiteframe-10dp" flex-sm>
        <md-toolbar flex id="materialToolbar">
            <div class="md-toolbar-tools" layout="row" layout-align="center center">
                <div class="form-container shadow">
                    <div><i class="material-icons md-18">account_circle</i>
                      <span class="md-headline" align="center"> Login </span>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <div layout-padding="">
            <div></div>
            <form name="userForm" method="POST" action="" ng-submit="user.submit(userForm.$valid)" enctype="multipart/form-data">
                <input type="hidden" name="action" value="login" />
                <div layout="row" layout-sm="column">
                    <md-input-container>
                          <label>Email</label>
                        <input required type="email" name="email" ng-model="user.email" ng-pattern="/^[_a-z0-9-+]+(\.[_a-z0-9-+]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" placeholder="email@example.com" />
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container flex-gt-sm="">
                        <label>Password</label>
                        <input name="password" ng-model="user.password" type="password" minlength="6" maxlength="20" required placeholder="******">
                    </md-input-container>
                </div>
                <md-button class="md-raised md-primary" style="width:100%; margin: 0px 0px;" type="submit" ng-disabled="userForm.$invalid">Login</md-button>
            </form>
        </div>
    </md-content>
</div>
