<div layout layout-align="center center">
    <section class="item item-login">
        <md-card class="md-whiteframe-4dp">
            <md-toolbar style="background-color: #00897B">
                <div layout="column" layout-padding layout-align="center center">
                    <div><md-icon class="logo">home</md-icon></div>
                    <div class="md-headline md-padding">Login</div>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="Login" ng-submit="$ctrl.login(ctrl.user)">
                    <div ng-if="$ctrl.failResponse===true" style="color: rgb(221,44,0)">{{$ctrl.failMessage}}</div>
                    <div>
                        <div ng-if="$ctrl.isInvalid"></div>
                    </div>
                    <md-input-container class="md-block">
                        <label for="email">Email</label>
                        <input type="email" name="email" ng-model="ctrl.user.email" required placeholder="someone@example.com" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label for="password">Password</label>
                        <input type="password" name="password" ng-model="ctrl.user.password" required placeholder="******" />
                    </md-input-container>
                    <div>
                        <label>
                            <input type="checkbox" ng-model="ctrl.user.rememberMe"> Remember me
                        </label>
                    </div>
                    <md-input-container class="md-block">
                        <div layout="row" layout-align="center center">
                            <md-button type="submit" class="md-raised md-primary" flex="50">Login</md-button>
                        </div>
                    </md-input-container>
                </form>
            </md-card-content>
        </md-card>
    </section>
</div>