<h1>Show page</h1>
<div class="item item-medium">
    <md-button class="md-primary" ui-sref="albums">Back to albums</md-button>
    <md-card>
        <md-card-title>
            <md-card-title-text class="item">
                <span class="md-headline">{{ albumDetail.album.title }}</span>
                <span class="md-subhead">{{ albumDetail.album.created_at | date}}</span>
                <md-card layout="column" layout-align="space-around center">
                    <jk-carousel data="albumDetail.photos"
                                 item-template-url="'./app/js/albums/components/album-detail/item-template.html'"
                                 class="item-large" max-height="400" auto-slide="true" auto-slide-time="2000">
                    </jk-carousel>
                </md-card>
            </md-card-title-text>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="space-around end">
            <md-button class="md-raised md-primary stylecolor" ui-sref="albumEdit({ albumId: albumDetail.album.id })">Edit</md-button>
        <div permissions="Admin">
            <md-button class="md-raised md-warn" ng-click="deleteAlbum(albumDetail)">Delete</md-button>
        </div>
        </md-card-actions>
    </md-card>
</div>
