<h1>Show page</h1>
<div class="item">
    <md-button class="md-primary" ui-sref="albums">Back to albums</md-button>
    <md-card>
        <md-card-title>
            <md-card-title-text class="item">
                <span class="md-headline">{{ albumDetail.album.title }}</span>
                <span class="md-subhead">{{ albumDetail.album.created_at | date}}</span>
                <div ng-repeat="photos in albumDetail.photos" >
                    <img  ng-src="{{photos.image_url_medium}}" >
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ui-sref="albumEdit({ albumId: albumDetail.album.id })">Edit</md-button>
            <md-button class="md-raised md-warn" ng-click="deleteAlbum(albumDetail)">Delete</md-button>
        </md-card-actions>
    </md-card>
</div>
