<div class="item" layout="row" layout-align="space-around">
  <md-input-container>
  <label>Sort by:</label>
    <md-select ng-model="orderProp">
      <md-option value="first_name">Name</md-option>
      <md-option value="school_id">School</md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Search:</label>
    <input ng-model="query">
  </md-input-container>
</div>

<h1>Admins</h1>
<md-button ui-sref="adminCreate" class="md-raised md-primary stylecolor">Create new admin</md-button>
<div class="item">
    <md-card ng-repeat="admin in admins | filter:query | orderBy:orderProp" class="items-list items-list-small">
        <md-card-title ui-sref="adminDetail({adminId: admin.id})">
            <md-card-title-text>
              <div layout-margin>
                <img ng-src="{{admin.avatar_url_thumb}}" height="70" class="border-image">
              </div>
              <div layout-margin >
                <p class="content content-small">{{ admin.first_name }} {{ admin.last_name }}</p>
              </div>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
