<h1>Create the News</h1>
<div class="item item-medium">
    <md-button class="md-primary" ui-sref="newss">Back to News</md-button>
    <form ng-submit="addNews()" role="form">
        <md-input-container class="md-block" flex-gt-sm>
            <label>News title</label>
            <input ng-model="news.title" ng-trim="false" maxlength="50">
            <p class="count">{{50 - news.title.length}} symbols left</p>
        </md-input-container>

        <md-input-container class="md-block">
            <label>News image</label>
            <input type='file' ng-model="news.image" base-sixty-four-input accept="image/*" maxsize="1000">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>News description</label>
            <textarea ui-tinymce ng-model="news.description" ng-trim="false" maxlength="512"></textarea>
            <p class="count">{{512 - news.description.length}} symbols left</p>
        </md-input-container>

        <div class="menus" layout="row" layout-align="space-around center">
            <md-input-container class="md-block">
            <label>News type</label>
            <md-select ng-model="news.imageable_type">
            <md-option ng-repeat="type in types" value="{{type}}">{{type}}</md-option>
            </md-select>
            </md-input-container>

            <md-input-container class="md-block">
            <label>Name of {{news.imageable_type}}</label>
            <md-select ng-switch="news.imageable_type" ng-model="news.imageable_id" class="md-no-underline">
                <md-option ng-switch-when="Group" ng-repeat="group in groups" ng-value="group.id">{{group.name}}</md-option>
                <md-option ng-switch-when="Level" ng-repeat="level in levels" ng-value="level.id">{{level.name}}</md-option>
                <md-option ng-switch-when="School" ng-repeat="school in schools" ng-value="school.id">{{school.name}}</md-option>
            </md-select>
            </md-input-container>
        </div>
        <md-button type="submit" value="Save">Submit</md-button>
    </form>
</div>