
<h1>Student List</h1>
<div ng-cloak="" class="carddemoBasicUsage" >
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card ng-repeat="student in $ctrl.students">
        <md-card-title>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
          <md-card-title-text>
            <p class="md-headline">{{ student.first_name }} {{ student.last_name }}</p>
            <p class="md-subhead">Age: {{ student.age }}</p>
            <p>
              <span class="md-subhead">School: {{ student.school_id }}</span>
              <span class="md-subhead">Group: {{ student.group_id }}</span>
              <div>
              <md-checkbox ng-model="isDisabled" aria-label="Health Info:"></md-checkbox>
              Health Info: <input type="checkbox" ng-model="isDisabled" />
              <div ng-show="isDisabled">
                <p><b>Problem:</b>{{ student.health_info.health_problem }}</p>
                <p><b>Description:</b> {{ student.health_info.description }}</p>
              </div>
            </p>
         </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>View</md-button>
          <md-button>Report</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>

