<h1><a ui-sref="students">Click to see the Student List</a></h1>
<h1 class="text-uppercase">Student View</h1>
<md-button class="md-raised" ui-sref="studentEdit({studentId: studentDetail.student.id})">Edit</md-button>
<md-button class="md-raised  md-primary" ng-click="deleteStudent(studentDetail)">Delete</md-button>

<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ studentDetail.student.first_name }}</span>
          <span class="md-headline">{{ studentDetail.student.last_name }}</span>
          <span class="md-subhead">Age: {{ studentDetail.student.age }}</span>
          <span class="md-subhead">School: {{ studentDetail.student.school_id }}</span>
          <span class="md-subhead">Group: {{ studentDetail.student.group_id }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-title>
        <md-card-title-text>
          <md-checkbox ng-model="isDisabled" aria-label="Health Info:">Health Info:</md-checkbox>
          <div ng-show="isDisabled">
            <p><span class="md-headline">Problem:</span>
            <span class="md-subhead">{{ studentDetail.student.health_info.health_problem }}</span></p>
            <p><span class="md-headline">Description: </span>
            <span class="md-subhead">{{ studentDetail.student.health_info.description }}</span></p>
          </div>
         </md-card-title-text>
      </md-card-title>
    </md-card>
  </div>
</md-content>
