<h1>Show page</h1>
<div class="item">
    <md-button class="md-primary" ui-sref="students">Back to students</md-button>
    <md-card>
        <md-card-title>
            <md-card-title-text class="item">
                <span class="md-headline"><img ng-src="{{student.avatar_url_medium}}"></span>
                <span class="md-headline">{{ student.first_name }}</span>
                <span class="md-headline">{{ student.last_name }}</span>
                <span class="md-subhead">Age: {{ student.age }}</span>
                <span class="md-subhead">Group: {{ student.group_id }}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-title>
        <md-card-title-text>
          <md-checkbox class="md-primary" md-no-ink ng-model="isDisabled" label="Health Info:"><h2>Health Info:</h2></md-checkbox>
            <div ng-show="isDisabled">
              <p><span class="md-headline">Problem:</span>
              <span class="md-subhead">{{ student.health_info.health_problem }}</span></p>
              <p><span class="md-headline">Description: </span>
              <span class="md-subhead">{{ student.health_info.description }}</span></p>
            </div>
        </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="center center">
          <md-card-title layout="row" layout-align="center center">
            <md-card-title-text class="item">
                <h2 class="md-headline stylecolor">Parents</h2>
                <md-button ng-if="student.parents[0].id" class="animate-if">
                  <h3 class="button-persons" ui-sref="parentDetail({parentId: student.parents[0].id})">{{ student.parents[0].first_name }}</h3>
                </md-button>
                <md-button ng-if="student.parents[0].id" class="animate-if">
                  <h3 class="button-persons" ui-sref="parentDetail({parentId: student.parents[1].id})">{{ student.parents[1].first_name }}</h3>
                </md-button>
            </md-card-title-text>
          </md-card-title>
        </md-card-actions>
      <div permissions="Admin">
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary stylecolor" ui-sref="studentEdit({studentId: student.id})">Edit</md-button>
            <md-button class="md-raised md-warn" ng-click="deleteStudent(student)">Delete</md-button>
          </md-card-actions>
        </div>
    </md-card>
</div>
