<h1>Show page</h1>
<div class="item">
    <md-button class="md-primary" ui-sref="students">Back to students</md-button>
    <md-card>
        <md-card-title>
            <md-card-title-text class="item">
                <span class="md-headline"><img ng-src="{{studentDetail.student.avatar_url_medium}}"></span>
                <span class="md-headline">{{ studentDetail.student.first_name }}</span>
                <span class="md-headline">{{ studentDetail.student.last_name }}</span>
                <span class="md-subhead">Age: {{ studentDetail.student.age }}</span>
                <span class="md-subhead">School: {{ studentDetail.student.school_id }}</span>
                <span class="md-subhead">Group: {{ studentDetail.student.group_id }}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-title>
        <md-card-title-text>
          <md-checkbox class="md-primary" md-no-ink ng-model="isDisabled" label="Health Info:">Health Info:</md-checkbox>
            <div ng-show="isDisabled">
              <p><span class="md-headline">Problem:</span>
              <span class="md-subhead">{{ studentDetail.student.health_info.health_problem }}</span></p>
              <p><span class="md-headline">Description: </span>
              <span class="md-subhead">{{ studentDetail.student.health_info.description }}</span></p>
            </div>
        </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" ui-sref="studentEdit({studentId: studentDetail.student.id})">Edit</md-button>
          <md-button class="md-raised md-warn" ng-click="deleteStudent(studentDetail)">Delete</md-button>
        </md-card-actions>
    </md-card>
</div>
