<h1 class="text-uppercase">Parent List</h1>

<div layout="row">
  <md-button class="md-warn" ui-sref="parentCreate">Add New parent</md-button>
  <md-input-container class="md-icon-float md-block">
    <label>Search:</label>
    <input ng-model="$ctrl.query" type="text">
  </md-input-container>

  <div>
    <div layout="row">
      <md-input-container style="margin-right: 10px;">
        <label>Sort by:</label>
        <md-select ng-model="$ctrl.orderProp">
          <md-option value="first_name">Name</md-option>
          <md-option value="group_id">Group</md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>
</div>

<table>
  <tr><th>Name</th><th>Surname</th></tr>
  <tr ng-repeat="parent in $ctrl.parents | filter:$ctrl.query | orderBy:$ctrl.orderProp">
    <td>{{ parent.first_name }}</td>
    <td>{{ parent.last_name }}</td>
    <td>
      <md-button md-no-ink class="md-primary" ui-sref="parentDetail({parentId: parent.id})">View</md-button>
    </td>
  </tr>
</table>
