<div class="item person-create">
  <h1>Teacher Create</h1>
    <md-button class="md-primary" ui-sref="teachers">Back to Teachers</md-button>
    <form ng-submit="addTeacher()" role="form">
        <md-input-container class="md-block">
          <input type="text" pattern="^[a-zA-Zа-яА-Я]{1,20}$" ng-model="teacher.first_name" placeholder="First Name">
        </md-input-container>

        <md-input-container class="md-block">
          <input type="text" pattern="^[a-zA-Zа-яА-Я]{1,20}$" ng-model="teacher.last_name" placeholder="Last Name">
        </md-input-container>

        <h3>E-mail:</h3>
        <md-input-container class="md-block">
          <input type="e-mail" ng-model="teacher.email" placeholder="asd@asa">
        </md-input-container>

        <h3>Contact Phone:</h3>
        <md-input-container class="md-block">
          <input type="text" ng-model="teacher.contact_phone" placeholder="+1234567890">
        </md-input-container>

        <h3>Password:</h3>
        <md-input-container class="md-block">
          <input type="password" ng-model="teacher.password">
        </md-input-container>

        <h3>Password confirmation:</h3>
        <md-input-container class="md-block">
          <input type="password" ng-model="teacher.password_confirmation">
        </md-input-container>

        <div class="menus" layout="row" layout-align="space-between center">
          <md-input-container class="md-block">
            <label>Group</label>
            <md-select ng-model="teacher.group_id" class="md-no-underline">
                <md-option ng-repeat="group in groups" ng-value="group.id">
                {{group.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <md-button type="submit" value="Save">Submit</md-button>
    </form>
</div>