
<body>
<a ui-sref="albums">Albums</a>
<a ui-sref="newss">News</a>

<div ng-if="$ctrl.isAuthenticated()">
<a ui-sref="main" ng-click="$ctrl.logout()">Log out</a>
</div>

<div class="text-uppercase">Primary school report system
	
</div> 

<p class="school_search"> 
    <button <a ui-sref="schools">Back to the school list</a></button>
</p>

<p class="school_search"> 
    <button <a ui-sref="request">Apply</a></button>
</p>
</body>


<div ng-app="">
  <h1>Apply</h1>
  <p class="description">Click on the "show"-button to see the content.</p>
  <button ng-click="showme=true">Show</button>
  <button ng-click="showme=false">Hide</button> 
  
  <div class="wrapper">
  <div  ng-show="showme" class="school_edit_form">
<form  name="requestForm" action="mailto:kuriy_yevgeniy@ukr.net" id="usrform" method="post" enctype="text/plain">
  <h2>General School Info</h2><br>
  Name:<br>
  <input type="text" ng-model="request.name" name="School name " id="school_input" required=""><br>
  Address:<br>
  <input type="text" ng-model="request.address" name="Address " id="school_input" required=""><br>
  E-mail:<br>
  <input type="email" ng-model="request.email" name="E-mail" id="school_input" required="" /><br>
  Contact phone:<br>
  <input type="text" ng-model="request.phone" name="Contact phone " id="school_input" required=""><br>

  <h2>School Administrator Info</h2><br>
  Admin First Name:<br>
  <input type="text" ng-model="request.adminfname" name="Admin first name " id="school_input" required=""><br>
  Admin Last Name:<br>
  <input type="text" ng-model="request.adminlname" name="Admin last name " id="school_input" required=""><br>
  Admin E-mail:<br>
  <input type="email" ng-model="request.adminemail" name="Admin e-mail " id="school_input"><br>
  Admin Contact Phone:<br>
  <input type="text" ng-model="request.adminphone" name="Admin contact phone " id="school_input"><br>

  <h3>Additional info / Comments:</h3><br>
  <textarea rows="5" cols="50" ng-model="request.comment" name="Comment" form="usrform" id="school_input">Enter text here...</textarea><br>

  <button type="submit" class="btn btn-primary" ng-disabled="requestForm.$invalid">Submit</button>
  <button type="reset" class="btn btn-primary">Reset</button>
</form>

</div>
    <p ng-hide="showme">It will appear here!</p>
 <!--    <h2 ng-show="showme">This is mah content, yo!</h2> -->
  </div>
  
</div>  


<div class="main">
    <div ng-switch="type">
        <div ng-switch-when="Admin">
            <h1>Admin</h1>
        </div>

        <div ng-switch-when="Superadmin">
            <h1>Superadmin</h1>
        </div>

        <div ng-switch-when="Teacher">
            <h1>Teacher</h1>
        </div>

        <div ng-switch-when="Parent">
            <h1>Parent</h1>
        </div>
    </div>
</div>

