<div class="item" layout="row" layout-align="space-between">
  <md-input-container>
  <label>Sort by:</label>
    <md-select ng-model="$ctrl.orderProp">
      <md-option value="Default">Default</md-option>
      <md-option value="title">Alphabetical</md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Search:</label>
    <input ng-model="$ctrl.query">
  </md-input-container>
</div>

<h1>Albums</h1>
<md-button ui-sref="albumCreate" class="md-raised md-primary">New</md-button>
<div class="item" style="width:90%">
    <md-card ng-repeat="album in $ctrl.albums | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="items-list">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                    <a ui-sref="album({ albumId: album.id })"><p class="content">{{album.title}}</p></a>
                </span>
                <span class="md-subhead">{{ album.created_at | date}}</span>
                <span class="md-subhead">
                  <a ui-sref="album({ albumId: album.id })">
                    <img ng-src="{{album.image}}" class="content-image" alt="{{album.title}}"/>
                  </a>
                </span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
