<h1> Level List </h1>
<md-button ui-sref="levelCreate" class="md-raised md-primary">Level create</md-button>
<div class="item" style="width:90%">
    <md-card ng-repeat="level in $ctrl.levels" class="items-list">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                <a ui-sref="level({ id: level.id })"><p class="content">                {{ level.name }}</p></a>
                </span>
                <span class="md-subhead">Level id: {{ level.id }} </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ui-sref="levelEdit({ id: level.id })">edit</md-button>
            <md-button class="md-raised md-warn" ng-click="$ctrl.deleteLevel(level.id)">delete</md-button>
        </md-card-actions>
    </md-card>
</div>
