<h1>Show page</h1>
<div class="item item-small">
    <md-button class="md-primary" ui-sref="levels">Back to levels</md-button>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{$ctrl.item.level.name}}</span>
                <span class="md-subhead">Id of level: {{$ctrl.item.level.id}}</span>
                <span class="md-subhead">School id of level: {{$ctrl.item.level.school_id}}</span>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
