<div class="albums" flex layout="row" layout-xs="column" layout="row"
                          layout-align="end center">

  <p>
    Sort by:
    <select ng-model="$ctrl.orderProp">
      <option value="">Default</option>
      <option value="title">Alphabetical</option>
    </select>
  </p>

  <p>
    Search:
    <input ng-model="$ctrl.query" />
  </p>

</div>

<div>

  <md-list class="album-list">
    <h1>Albums</h1>
    <h1>{{$ctrl.a}}</h1>
    <ui-view></ui-view>
    <a ui-sref="albumCreate">New</a>
    <md-list-item class="album-item" ng-repeat="album in $ctrl.albums | filter:$ctrl.query
                                                   | orderBy:$ctrl.orderProp">
      <h1><a ui-sref="album({ albumId: album.id })">{{ album.title }}</a></h1>
      <p>{{ album.created_at | date}}</p>

      <a ui-sref="album({ albumId: album.id })">
        <img ng-src="{{album.image}}" alt="{{album.title}}"/>
      </a>



    </md-list-item>
  </md-list>

</div>
