<div class="item" layout="row" layout-align="space-around">
  <md-input-container>
  <label>Sort by:</label>
    <md-select ng-model="$ctrl.orderProp">
      <md-option value="Default">Default</md-option>
      <md-option value="title">Alphabetical</md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Search:</label>
    <input ng-model="$ctrl.query">
  </md-input-container>
</div>

<h1> News </h1>
<md-button ui-sref="newsCreate" class="md-raised md-primary stylecolor">News create</md-button>
<div class="item">
    <md-card ng-repeat="news in $ctrl.news | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="items-list">
    <img ng-src="{{news.image_url_medium}}" class="md-card-image content-image" alt="{{news.title}} ">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                    <a ui-sref="news({ id: news.id })">{{news.title}}</a>
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <span class="md-subhead">{{news.imageable_type}}:</span>
          <span class="md-subhead"> {{news.imageable_id}}</span>
          <p class="content">{{news.description}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="space-around end">
            <md-button class="md-raised md-primary stylecolor" ui-sref="newsEdit({ id: news.id })">edit</md-button>
        <div permissions="Admin">
            <md-button class="md-raised md-warn" ng-click="$ctrl.deleteNews(news.id)">delete</md-button>
        </div>
        </md-card-actions>
    </md-card>
</div>