<div class="item item-medium">
    <h1>Create new School</h1>
    <md-button class="md-primary" ui-sref="schools">Back to Schools</md-button>
    <form ng-submit="addSchool()" role="form">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Name:</label>
            <input ng-model ="school.name" type="text" name="name" id="school_input" >
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>E-mail:</label>
            <input ng-model ="school.email" type="text" name="email" id="school_input">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Address:</label>
            <input ng-model ="school.address" type="text" name="address" id="school_input">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Сontact phone:</label>
            <input ng-model ="school.contact_phone" type="text" name="contact_phone" id="school_input">
        </md-input-container>
        <md-button type="submit" value="Save">Submit</md-button>
    </form>
</div>
