<h1>Edit the Album</h1>
<div class="item item-medium">
    <md-button class="md-primary" ui-sref="albums">Back to Albums</md-button>
    <form ng-submit="updateAlbum()">
      <md-input-container class="md-block">
        <h3 for="title">Title:</h3>
        <input ng-model ="albumDetail.album.title" type="text" name="title"
                                     id="title" maxlength="25" required />
      </md-input-container>

      <div class="menus" layout="row" layout-align="space-around center">
        <md-input-container class="md-block">
          <label>Belongs to: {{imageable_type}}</label>
          <md-select ng-model ="albumDetail.album.imageable_type">
            <md-option ng-repeat="type in types" value="{{type}}">
              {{type}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Name of {{albumDetail.album.imageable_type}}</label>
          <md-select ng-switch="albumDetail.album.imageable_type"
                ng-model="albumDetail.album.imageable_id" class="md-no-underline">
              <md-option ng-switch-when="Group" ng-repeat="group in groups"
                                                ng-value="group.id">
                {{group.name}}
             </md-option>
              <md-option ng-switch-when="Level" ng-repeat="level in levels"
                                                ng-value="level.id">
                {{level.name}}
              </md-option>
              <md-option ng-switch-when="School" ng-value="school.id">
                {{school.name}}
              </md-option>
          </md-select>
        </md-input-container>
        </div>

      <md-button type="submit" value="Update">Update</md-button>
    </form>
</div>