<div class="item">
    <h1>Edit the Album</h1>
    <md-button class="md-primary" ui-sref="albums">Back to Albums</md-button>
    <form ng-submit="updateAlbum()">
      <md-input-container class="md-block">
        <h3 for="title">Title:</h3>
        <input ng-model ="albumDetail.album.title" type="text" name="title" id="title">
      </md-input-container>

      <md-input-container class="md-block">
        <h3 for="image">Image:</h3>
        <input ng-model ="albumDetail.album.image" type="text" name="image" id="image">
      </md-input-container>

      <div class="menus" layout="row" layout-align="space-between center">
        <md-input-container class="md-block">
          <h3 for="imageable_type">Belongs to:</h3>
          <md-select ng-model ="albumDetail.album.imageable_type">
            <md-option>School</md-option>
            <md-option>Level</md-option>
            <md-option>Group</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block">
            <label for="school_id">Belongs to school_id:</label>
            <input ng-model ="albumDetail.album.school_id" type="number" step="1">
        </md-input-container>

        <md-input-container class="md-block">
          <h3 for="imageable_id">Belongs to id:</h3>
          <input ng-model ="albumDetail.album.imageable_id" type="number" step="1">
        </md-input-container>
      </div>
      <md-button type="submit" value="Update">Update</md-button>
    </form>
</div>
