<h1>Create the Album</h1>
<div class="item item-medium">
    <md-button class="md-primary" ui-sref="albums">Back to Albums</md-button>
    <form ng-submit="addAlbum()">
        <md-input-container class="md-block" flex-gt-sm>
            <label for="title">Title:</label>
            <input ng-model="album.title" type="text" name="title"
                                          id="title" maxlength="25" required />
        </md-input-container>

        <div class="menus" layout="row" layout-align="space-between center">
            <md-input-container class="md-block">
                <label for="imageable_type">Belongs to:</label>
                <md-select ng-model="album.imageable_type">
                  <md-option ng-repeat="type in types" value="{{type}}">
                    {{type}}
                  </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
            <label>Name of {{album.imageable_type}}</label>
            <md-select ng-switch="album.imageable_type"
                       ng-model="album.imageable_id" class="md-no-underline">
                <md-option ng-switch-when="Group" ng-repeat="group in groups"
                                                  ng-value="group.id">
                  {{group.name}}
               </md-option>
                <md-option ng-switch-when="Level" ng-repeat="level in levels"
                                                  ng-value="level.id">
                  {{level.name}}
                </md-option>
                <md-option ng-switch-when="School" ng-repeat="school in schools"
                                                   ng-value="school.id">
                  {{school.name}}
                </md-option>
            </md-select>
            </md-input-container>

        </div>

        <md-input-container class="md-block">
            <input type="file" ng-model="album.photos" name="files"
               base-sixty-four-input multiple accept="image/*" maxsize="2000"/>
        </md-input-container>

        <md-button type="submit" value="Save">Save</md-button>
    </form>
</div>
