<div class="item">
    <h1>Student Create</h1>
    <md-button class="md-primary" ui-sref="students">Back to Students</md-button>
    <form ng-submit="addStudent()" role="form">
        <md-input-container class="md-block">
        <input type='file' ng-model="student.avatar" base-sixty-four-input accept="image/*" maxsize="1000" placeholder="Student photo">
        </md-input-container>

        <md-input-container class="md-block">
          <input type="text" pattern="^[a-zA-Zа-яА-Я]{1,20}$" ng-model="student.first_name" placeholder="First Name">
        </md-input-container>

        <md-input-container class="md-block">
          <input type="text" pattern="^[a-zA-Zа-яА-Я]{1,20}$" ng-model="student.last_name" placeholder="Last Name">
        </md-input-container>

          <md-input-container class="md-block">
            <input type="number" min="2" max ="10" ng-model="student.age" placeholder="Age">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Group</label>
            <md-select ng-model="student.group_id" class="md-no-underline">
                <md-option ng-repeat="group in groups" ng-value="group.id">
                {{group.name}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Parent</label>
            <md-select ng-model="students_users.parent_id" class="md-no-underline">
                <md-option ng-repeat="parent in parents" ng-value="parent.id">
                <div>{{parent.first_name}}  {{parent.last_name}}</div>
              </md-option>
            </md-select>
          </md-input-container>
        <div><md-checkbox class="md-primary" md-no-ink ng-model="isDisabled" label="Health Info:">Health Info:</md-checkbox></div>
        <div ng-show="isDisabled">
          <md-input-container class="md-block">
            <input type="text" ng-model="student.health_info.health_problem" placeholder="Health Problem">
          </md-input-container>

          <md-input-container class="md-block">
            <input type="text" ng-model="student.health_info.description" placeholder="Description">
          </md-input-container>
        </div>

        <md-button type="submit" value="Save">Submit</md-button>
    </form>
</div>
