<div class="item">
    <h1>Student Edit</h1>
    <md-button class="md-primary" ui-sref="students">Back to Students</md-button>
    <form ng-submit="updateStudent()">

        <md-input-container class="md-block">
          <img ng-src="{{studentDetail.student.avatar_url_medium}}"  alt="Avatar">
           <p>Upload a different photo.</p>
           <input type='file' ng-model="studentDetail.student.avatar" value='{{studentDetail.student.avatar}}' base-sixty-four-input accept="image/*" maxsize="1000" placeholder="Student photo">
        </md-input-container>

        <md-input-container class="md-block">
        <h3>First Name:</h3>
          <input type="text" ng-model="studentDetail.student.first_name" pattern="^[a-zA-Zа-яА-Я]{1,20}$">
        </md-input-container>

        <md-input-container class="md-block">
        <h3>Last Name:</h3>
          <input type="text" ng-model="studentDetail.student.last_name" pattern="^[a-zA-Zа-яА-Я]{1,20}$">
        </md-input-container>

        <div class="menus" layout="row" layout-align="space-between center">
          <md-input-container class="md-block">
          <h3>Age:</h3>
            <input type="number" min="2" max ="10" ng-model="studentDetail.student.age">
          </md-input-container>
          <md-input-container class="md-block">
          <h3>School:</h3>
              <input type="number" ng-model="studentDetail.student.school_id">
          </md-input-container>
          <md-input-container class="md-block">
          <h3>Group:</h3>
              <input type="number" ng-model="studentDetail.student.group_id">
          </md-input-container>
        </div>

        <div><md-checkbox class="md-primary" md-no-ink ng-model="isDisabled" label="Health Info:">Health Info:</md-checkbox></div>
        <div ng-show="isDisabled">
            <md-input-container class="md-block">
            <h3>Health Problem:</h3>
                <input type="text" ng-model="studentDetail.student.health_info.health_problem">
            </md-input-container>

            <md-input-container class="md-block">
            <h3>Description:</h3>
                <input type="text" ng-model="studentDetail.student.health_info.description">
            </md-input-container>
        </div>

        <md-button type="submit" value="Update">Update</md-button>
    </form>
</div>
